@model ConnectionStringModel
<div class="form-group">
    <label asp-for="ConnectionString" class="control-label">ConnectionString</label>
    <input asp-for="ConnectionString" class="form-control"/>
    <span asp-validation-for="ConnectionString" class="text-danger"></span>
</div>