<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Whether to scan the local subnet as a whole-->
    <add key="ScanSubnet" value="false"/>
    <!--Scan target(s), separated by comma. Example: for quad9 and whatismyip.com: "9.9.9.9,104.27.192.92"-->
    <add key="ScanTarget" value="9.9.9.9,104.27.192.92"/>
  </appSettings>
</configuration>