@model sLog.Models.Query

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>Query</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Execute">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConnectionString" class="control-label"></label>
                <input asp-for="ConnectionString" class="form-control" value="Data Source=.;Initial Catalog=sLogContext-b7effb6c-e814-4615-951a-7452b76832c9;Integrated Security=True" />
                <span asp-validation-for="ConnectionString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectCommand" class="control-label"></label>
                <input asp-for="SelectCommand" class="form-control" value="SELECT * FROM Log" />
                <span asp-validation-for="SelectCommand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Execute" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rows)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rows)
        {
            <tr>
                <td>
                    @Html.Raw(item)
                </td>
            </tr>
        }
    </tbody>
    </table>
